/* generals */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 2000px;
    display: flex;
    flex-direction: column;
}
.container{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center ;
}

/* specifiche header */
header{
    height: 5%;
    width: 100%;
    background-color: aqua;
    display: flex;
    flex-flow: row;
}
.small-header-sect{
    height: 50%;
    width: 200px;
    background-color: white;
}
.big-header-sect{
    height: 50%;
    width: 200px;
    background-color: rgb(133, 133, 133);
    flex-grow: 3;
}

/* main */

main{
    height: 95%;
    display: flex;
    flex-flow: column;
}

/* jumbotron */

.jumbotron{
    height: 100%;
    width: 100%;
    background-color: blue;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
}
.jumbotron-content{
    background-color: pink;
    height: 85%;
    width: 65%;

}

/* main .main-sections */

.main-sections{
    height: 100%;
    width: 100%;
    background-color: #b9b9b9;
}
.white-bg{
    background-color: #fff;
}
.text-block{
    width: 60%;
    height: 85%;
    background-color: #05b6b6;
}
.img-block{
    width: 40%;
    height: 85%;
    background-color: #be36a8;
}
.middle{
    order: 1;
}
.bigsection{
    height: 100%;
}
footer{
    height: 250px;
    width: 100%;
    display: flex;
    background-color: rgb(35, 35, 35);
}